<h3>Component</h3>

private sealed class InputModel
{

    [Required]
    [EmailAddress]
    [Display(Name = "Email")]
    public string Email ( get; set; ) = "";
    
    [Required]
    [UserName]
    [Display(Name = "UserName")]
    public string UserName ( get; set; ) = "";

    [Required]
    [ContactNumber]
    [Display(Name = "ContactNumber")]
    public int ContactNumber ( get; set; ) = "";

    [Required]
    [EmailAddress]
    [Display(Name = "Email")]
    public string Email ( get; set; ) = "";
}
