@page "/payments/edit"
@using Microsoft.EntityFrameworkCore
@using SportsVenueBooking.Domain
@inject IDbContextFactory<SportsVenueBooking.Data.SportsVenueBookingContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Edit</PageTitle>

<h1>Edit</h1>

<h2>Payment</h2>
<hr />
@if (Payment is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="row">
        <div class="col-md-4">
            <EditForm method="post" Model="Payment" OnValidSubmit="UpdatePayment" FormName="edit" Enhance>
                <DataAnnotationsValidator />
                <ValidationSummary role="alert"/>
                <input type="hidden" name="Payment.Id" value="@Payment.Id" />
                <div class="mb-3">
                    <label for="cardnumber" class="form-label">CardNumber:</label>
                    <InputNumber id="cardnumber" @bind-Value="Payment.CardNumber" class="form-control" />
                    <ValidationMessage For="() => Payment.CardNumber" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="cardname" class="form-label">CardName:</label>
                    <InputText id="cardname" @bind-Value="Payment.CardName" class="form-control" />
                    <ValidationMessage For="() => Payment.CardName" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="expirationdate" class="form-label">ExpirationDate:</label>
                    <InputDate id="expirationdate" @bind-Value="Payment.ExpirationDate" class="form-control" />
                    <ValidationMessage For="() => Payment.ExpirationDate" class="text-danger" />
                </div>
                <div class="mb-3">
                    <label for="code" class="form-label">Code:</label>
                    <InputNumber id="code" @bind-Value="Payment.Code" class="form-control" />
                    <ValidationMessage For="() => Payment.Code" class="text-danger" />
                </div>
                <button type="submit" class="btn btn-primary">Save</button>
            </EditForm>
        </div>
    </div>
}

<div>
    <a href="/payments">Back to List</a>
</div>

@code {
    [SupplyParameterFromQuery]
    private int Id { get; set; }

    [SupplyParameterFromForm]
    private Payment? Payment { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        Payment ??= await context.Payment.FirstOrDefaultAsync(m => m.Id == Id);

        if (Payment is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    // To protect from overposting attacks, enable the specific properties you want to bind to.
    // For more information, see https://learn.microsoft.com/aspnet/core/blazor/forms/#mitigate-overposting-attacks.
    private async Task UpdatePayment()
    {
        using var context = DbFactory.CreateDbContext();
        context.Attach(Payment!).State = EntityState.Modified;

        try
        {
            await context.SaveChangesAsync();
        }
        catch (DbUpdateConcurrencyException)
        {
            if (!PaymentExists(Payment!.Id))
            {
                NavigationManager.NavigateTo("notfound");
            }
            else
            {
                throw;
            }
        }

        NavigationManager.NavigateTo("/payments");
    }

    private bool PaymentExists(int id)
    {
        using var context = DbFactory.CreateDbContext();
        return context.Payment.Any(e => e.Id == id);
    }
}
